.details {
  color: #3e4b5b;
  margin: 0 40px;
  padding-top: 16px;
}

.details__header {
  font-size: 30px;
}

.details__container {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  height: 62px;
  background-color: #f3f3f3;
}

.details__name {
  margin: 14px 14px 14px 24px;
  width: 282px;
}

@media (max-width: 1084px) {
  .details__container {
    font-size: 14px;
  }

  .details__name {
    width: 230px;
  }

  .details__description {
    margin-right: 10px;
  }
}

@media (max-width: 939px) {
  .details__name {
    width: 140px;
    word-wrap: break-word;
  }

  .details__description {
    width: 450px;
  }
}

@media (max-width: 450px) {
  .details {
    justify-content: space-around;
    margin: 0 16px;
    padding: 0;
  }

  .details__header {
    margin: 16px 0;
    font-size: 22px;
  }

  .details__container {
    margin-bottom: 10px;
    height: 74px;
  }

  .details__name {
    margin: 10px;
    width: 95px;
  }

  .details__description {
    width: 216px;
  }

  .details__fact {
    font-size: 14px;
  }
}

@media (max-width: 330px) {
  .details {
    margin: 0 8px;
  }

  .details__description {
    width: 180px;
  }
}
