.contacts {
  margin: 16px 0 0 50px;
  color: #3e4b5b;
}

.contacts__header {
  margin-bottom: 16px;
  font-size: 30px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contacts__link,
.contacts__address {
  display: inline-block;
  margin-top: 12px;
}

.contacts__link {
  color: #2b88d8;
  text-underline-offset: 3px;
}

.contacts__link:hover {
  text-decoration: none;
}

.contacts__address {
  font-style: normal;
}

.contacts__opening-hours-list {
  margin: 6px 0 16px;
  padding-left: 17px;
}

.contacts__opening-hours {
  line-height: 28px;
}

.contacts__label-map {
  font-size: 18px;
}

.contacts__map-container {
  width: 650px;
  height: 450px;
  margin-top: 20px;
}

.contacts__map-loader {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 4px;

  font-size: 16px;
  color: #2b88d8;

  background-color: rgb(43 136 216 / 8%);
}

@media (width <= 767px) {
  .contacts {
    margin: 0 16px;
    font-size: 14px;
  }

  .contacts__container {
    margin-bottom: 18px;
  }

  .contacts__opening-hours {
    line-height: 24px;
  }

  .contacts__header {
    margin-bottom: 16px;
    font-size: 22px;
  }

  .contacts__map-container {
    width: 100%;
    height: 250px;
  }

  .contacts__map-loader {
    font-size: 14px;
  }
}

@media (width <= 380px) {
  .contacts__map-container {
    width: 100%;
    height: 230px;
  }
}
