.mobile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobile-header__phone,
.mobile-header__email,
.mobile-header__action {
  display: flex;
  align-items: center;
}

.mobile-header__phone + .mobile-header__phone,
.mobile-header__email + .mobile-header__email {
  margin-top: 8px;
}

.mobile-header__contacts,
.mobile-header__actions {
  display: flex;
  justify-content: space-between;
  margin: 12px 38px;
}

.mobile-header__contacts {
  margin-bottom: 6px;
}

.mobile-header__phone-number,
.mobile-header__email-address,
.mobile-header__action-link,
.mobile-header__action-button {
  font-size: 16px;
  font-weight: bold;
  color: #3c5b84;
  text-decoration: none;
}

.mobile-header__phone-icon,
.mobile-header__email-icon,
.mobile-header__action-icon {
  height: 16px;
  margin-right: 6px;
}

.mobile-header__action-button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}

@media (max-width: 648px) {
  .mobile-header__contacts,
  .mobile-header__actions {
    margin: 12px 16px;
  }
}

@media (max-width: 568px) {
  .mobile-header__phone-number,
  .mobile-header__email-address,
  .mobile-header__action-link,
  .mobile-header__action-button {
    font-size: 14px;
  }

  .mobile-header__phone-icon,
  .mobile-header__email-icon,
  .mobile-header__action-icon {
    height: 14px;
  }
}

@media (max-width: 500px) {
  .mobile-header__phone-number,
  .mobile-header__email-address,
  .mobile-header__action-link,
  .mobile-header__action-button {
    font-size: 12px;
  }

  .mobile-header__phone-icon,
  .mobile-header__email-icon,
  .mobile-header__action-icon {
    height: 12px;
  }
}

@media (max-width: 460px) {
  .mobile-header__contacts,
  .mobile-header__actions {
    margin: 12px 14px;
  }

  .mobile-header__contacts {
    margin-bottom: 0;
  }

  .mobile-header__phone-number,
  .mobile-header__email-address,
  .mobile-header__action-link,
  .mobile-header__action-button {
    font-size: 11px;
  }

  .mobile-header__email-address—Å {
    margin-right: 6px;
  }

  .mobile-header__phone-icon,
  .mobile-header__email-icon,
  .mobile-header__action-icon {
    height: 11px;
  }
}

@media (max-width: 400px) {
  .mobile-header__contacts,
  .mobile-header__actions {
    margin: 12px 8px;
  }

  .mobile-header__contacts {
    margin-bottom: 0;
  }

  .mobile-header__phone-icon,
  .mobile-header__email-icon,
  .mobile-header__action-icon {
    margin-right: 2px;
  }
}

@media (max-width: 370px) {
  .mobile-header__phone-number,
  .mobile-header__email-address,
  .mobile-header__action-link,
  .mobile-header__action-button {
    font-size: 9px;
  }
}
