.mobile-navigation__container {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #004578;
}

.mobile-navigation__logo-image {
  height: 44px;
  margin: auto;
  padding: 3px;
}

.burger-menu__check {
  display: none;
}

.burger-menu {
  position: absolute;
  z-index: 1;
  display: flex;
}

.burger-menu__bar {
  width: 30px;
  height: 5px;
  margin: 6px 16px;
  border-radius: 4px;

  background-color: #fff;

  transition: all 0.4s ease-in-out;
}

.burger-menu__bar_open:first-of-type {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.burger-menu__bar_open:nth-of-type(2) {
  opacity: 0;
}

.burger-menu__bar_open:last-of-type {
  transform: rotate(45deg) translate(-9px, -7px);
}

.mobile-navigation__link {
  color: #fff;
  text-decoration: none;
}

.mobile-navigation__menu-list {
  position: fixed;
  top: 0;
  left: -100%;

  display: block;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px 0;

  font-size: 30px;
  font-weight: bold;
  list-style: none;

  visibility: hidden;
  background-color: #004578;
  box-shadow: 1px 0 6px rgb(0 0 0 / 20%);

  transition-duration: 0.4s;
}

.mobile-navigation__menu-list_open {
  top: 0;
  left: 0;
  visibility: visible;
}

.mobile-navigation__menu-item {
  margin: 20px 0 20px 16px;
}
