.navigation {
  width: 100%;
  height: 40px;
  background-color: #004578;
}

.navigation__items,
.navigation__item-link,
.navigation__trigger,
.navigation__trigger-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__items,
.navigation__sub-menu-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item-link,
.navigation__trigger-content {
  width: 174px;
  height: 40px;
}

.navigation__trigger:hover,
.navigation__item-link:hover,
.navigation__item-link_active {
  cursor: pointer;
  background-color: #005a9e;
}

.navigation__item-link,
.navigation__sub-menu-container {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navigation__sub-menu-container {
  position: relative;
}

.navigation__trigger {
  width: 174px;
  height: 40px;
  outline: none;
}

.navigation__trigger::-webkit-details-marker {
  display: none;
}

.navigation__sub-menu {
  position: absolute;

  display: block;

  width: 174px;
  padding: 8px 0;

  background-color: #004578;
}

.navigation__sub-menu-link,
.navigation__sub-menu-link_active {
  display: flex;
  align-items: center;
  height: 32px;
}

.navigation__sub-menu-link:hover,
.navigation__sub-menu-link_active,
.navigation__trigger-content_active {
  cursor: pointer;
  background-color: #005a9e;
}

.navigation__sub-menu-link {
  padding-left: 12px;

  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

@media (width <= 900px) {
  .navigation__item-link,
  .navigation__sub-menu-container {
    font-size: 16px;
  }

  .navigation__sub-menu-link {
    font-size: 14px;
  }

  .navigation__sub-menu,
  .navigation__trigger,
  .navigation__item-link,
  .navigation__trigger-content {
    width: 152px;
  }
}
