.request-modal-blackout {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background-color: rgb(0 0 0 / 20%);
}

.request-modal {
  position: fixed;
  z-index: 2001;
  top: 49%;
  left: 50%;

  width: 600px;
  height: 630px;
  margin-top: -315px;
  margin-left: -300px;
  padding-top: 16px;

  font-family: Arial, sans-serif;
  color: #3e4b5b;

  background-color: #fff;
  box-shadow: 0 0 14px 2px rgb(62 75 91 / 20%);
}

.request-modal__close-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin: 0 16px 0 auto;
  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: rgb(196 196 196 / 80%);
}

.request-modal__close-button:hover {
  background-color: rgb(196 196 196 / 50%);
}

.request-modal__close-button:focus {
  outline: none;
}

.request-modal__header {
  width: 270px;
  margin: 0 auto 20px;
  font-size: 30px;
  font-weight: bold;
}

.request-modal__form {
  width: 460px;
  margin: 0 auto;
}

.request-modal__field,
.request-modal__comment {
  margin: 8px 0;
  border: 1px solid rgb(196 196 196 / 70%);
  border-radius: 2px;

  color: #3e4b5b;

  appearance: none;
  background-color: rgb(196 196 196 / 10%);
}

.request-modal__field-file {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.request-modal__file-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8px 0;

  color: rgb(62 75 91 / 70%);
  text-overflow: ellipsis;
}

.request-modal__file-name {
  overflow: hidden;
  display: flex;
  align-items: center;

  width: 370px;
  height: 26px;
  padding: 1px 5px 1px 10px;
  border: 1px solid rgb(196 196 196 / 70%);
  border-right: none;
  border-radius: 2px 0 0 2px;

  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: rgb(196 196 196 / 10%);
}

.request-modal__file-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 84px;
  height: 30px;
  border-radius: 0 2px 2px 0;

  color: #fff;

  background-color: #004578;
}

.request-modal__field {
  width: 446px;
  height: 26px;
  padding-left: 10px;
}

.request-modal__comment {
  resize: none;
  width: 438px;
  padding: 10px;
}

.request-modal__field:focus,
.request-modal__comment:focus {
  border-color: rgb(0 90 158 / 70%);
  outline: none;
}

.request-modal__lable {
  margin: 0;
}

.request-modal__lable-required {
  color: #a4262c;
}

.request-modal__form-text {
  margin: 0 0 14px;
}

.request-modal__form-link {
  color: #2b88d8;
  text-underline-offset: 2px;
}

.request-modal__form-link:hover {
  text-decoration: none;
}

.request-modal__button-container {
  width: 142px;
  margin: 0 auto;
}

.request-modal__send-button,
.request-modal__failure-button {
  cursor: pointer;

  border: none;
  border-radius: 4px;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;

  appearance: none;
  background-color: #004578;
  outline: none;
}

.request-modal__send-button {
  width: 142px;
  height: 50px;
}

.request-modal__failure-button {
  width: 220px;
  height: 44px;
}

.request-modal__send-button:hover,
.request-modal__file-button:hover,
.request-modal__failure-button:hover {
  background-color: rgb(0 69 120 / 70%);
}

.request-modal__failure,
.request-modal__success,
.request-modal__pending {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 26px;
  text-align: center;
}

.request-modal__failure {
  margin-top: 50px;
}

.request-modal__success {
  margin-top: 68px;
}

.request-modal__pending {
  margin-top: 160px;
}

.request-modal__failure-text,
.request-modal__success-text {
  margin-top: 10px;
}

.request-modal__loader {
  width: 120px;
  height: 120px;
  border: 16px solid #004578;
  border-top: 16px solid #fff;
  border-radius: 50%;

  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (width <= 767px) {
  .request-modal {
    width: 290px;
    height: 460px;
    margin-top: -230px;
    margin-left: -145px;
    padding-top: 10px;
  }

  .request-modal__close-button {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  .request-modal__close-icon {
    width: 12px;
  }

  .request-modal__header {
    width: 198px;
    margin: 4px auto 10px;
    font-size: 22px;
  }

  .request-modal__form {
    width: 240px;
  }

  .request-modal__file-wrapper {
    margin: 4px 0;
  }

  .request-modal__file-name {
    width: 180px;
    height: 18px;
    padding: 1px 2px 1px 4px;
    font-size: 14px;
  }

  .request-modal__file-button {
    width: 70px;
    height: 22px;
    font-size: 14px;
  }

  .request-modal__lable {
    font-size: 14px;
  }

  .request-modal__field {
    width: 232px;
    height: 18px;
    margin: 4px 0;
    padding-left: 4px;
  }

  .request-modal__comment {
    width: 232px;
    height: 50px;
    margin: 4px 0;
    padding: 4px;
  }

  .request-modal__form-text {
    margin: 0 0 6px;
    font-size: 10px;
    line-height: 12px;
  }

  .request-modal__form-link {
    text-underline-offset: 1px;
  }

  .request-modal__button-container {
    width: 108px;
  }

  .request-modal__send-button {
    width: 108px;
    height: 36px;
    padding: 0;

    font-size: 14px;
    text-align: center;
  }

  .request-modal__failure,
  .request-modal__success,
  .request-modal__pending {
    font-size: 20px;
  }

  .request-modal__failure-icon,
  .request-modal__success-icon {
    height: 160px;
  }

  .request-modal__failure {
    margin-top: 30px;
  }

  .request-modal__success {
    margin-top: 58px;
  }

  .request-modal__pending {
    margin-top: 80px;
  }

  .request-modal__loader {
    width: 100px;
    height: 100px;
  }
}
