.footer {
  display: flex;
  align-items: center;

  width: 100%;
  height: 240px;
  margin-top: 50px;

  background-color: #004578;
}

.footer__actions {
  margin: 0 50px;
}

.footer__action-link,
.footer__action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 212px;
  height: 34px;
  padding: 0;
  border: 1px solid #004578;
  border-radius: 2px;

  font-size: 14px;
  color: #004578;

  background-color: #fff;
  outline: none;
}

.footer__action-button {
  margin-top: 18px;
}

.footer__action-icon {
  display: block;
  margin-right: 4px;
}

.footer__action-link {
  text-decoration: none;
}

.footer__action-link:hover,
.footer__action-button:hover {
  cursor: pointer;
  border: rgb(0 69 120 / 60%);
  color: rgb(0 69 120 / 60%);
}

.footer__action-link:hover .footer__action-icon,
.footer__action-button:hover .footer__action-icon {
  opacity: 0.6;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 120px;
  margin-right: 50px;
}

.footer__links + .footer__links {
  margin-right: auto;
}

.footer__link {
  font-size: 16px;
  color: #fff;
  text-underline-offset: 3px;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 300px;
  height: 214px;
  margin-right: 40px;
}

.footer__phone-number,
.footer__email-address,
.footer__address,
.footer__map-link,
.footer__email-text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-underline-offset: 3px;
}

.footer__phones,
.footer__emails,
.footer__location {
  display: flex;
  align-items: flex-start;
}

.footer__phone-number,
.footer__email-addreses,
.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__phone-number:hover,
.footer__email-address:hover,
.footer__map-link:hover {
  text-decoration: none;
}

.footer__phones-icon,
.footer__emails-icon,
.footer__placeholder-icon {
  margin: 4px 10px 0 0;
}

.footer__address-text {
  font-style: normal;
}

@media (width <= 1100px) {
  .footer__actions {
    margin: 0 26px;
  }

  .footer__links {
    margin-right: 34px;
  }
}

@media (width <= 1023px) {
  .footer__actions {
    margin: 0 16px;
  }

  .footer__link,
  .footer__phone-number,
  .footer__email-address,
  .footer__address,
  .footer__map-link,
  .footer__email-text {
    font-size: 12px;
    line-height: 20px;
  }

  .footer__contacts {
    width: 230px;
    margin-right: 14px;
  }

  .footer__action-link,
  .footer__action-button {
    width: 180px;
    height: 34px;
    font-size: 11px;
  }

  .footer__links {
    margin-right: 18px;
  }
}

@media (width <= 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: 586px;
    margin-top: 30px;
  }

  .footer__actions {
    margin: 24px 0 16px 24px;
  }

  .footer__action-button {
    margin-top: 16px;
  }

  .footer__action-button,
  .footer__action-link {
    width: 212px;
    font-size: 14px;
  }

  .footer__links {
    height: 84px;
    margin: 0 0 6px 24px;
  }

  .footer__link {
    font-size: 16px;
  }

  .footer__link,
  .footer__phone-number,
  .footer__email-address,
  .footer__address,
  .footer__map-link,
  .footer__email-text {
    font-size: 16px;
    line-height: 24px;
  }

  .footer__contacts {
    width: 296px;
    margin-left: 24px;
  }

  .footer__address-text {
    line-height: 20px;
  }
}

@media (width <= 340px) {
  .footer__phone-number,
  .footer__email-address,
  .footer__address,
  .footer__map-link,
  .footer__email-text {
    font-size: 14px;
  }
}
